<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ProjectConnectionStringSqlClient1" connectionString="server=11.121.35.199; Initial Catalog=123;User Id=HK;Password=HK123;"/>
    <add name="ProjectConnectionStringSqlClient2" connectionString="server=11.121.35.199; Initial Catalog=HKINSPECTION;User Id=HK;Password=HK123;"/>
    <add name="ProjectConnectionStringSqlClient3" connectionString="server=.; Initial Catalog=IYASAKA_NET;User Id=sa;Password=pems0118;"/>
    <add name="ProjectConnectionStringSqlClient4" connectionString="server=.; Initial Catalog=IYASAKA_NET;User Id=sa;Password=pems0118;"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
