<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="VicsUrl_Read" value="http://192.168.2.119:11689/VICSServices"/>
    <add key="VicsUrl_Write" value="http://192.168.2.119:11688/VICSServices"/>
    <add key="AdbPath" value = "C:\Users\tcb\AppData\Local\Android\Sdk\platform-tools"/>
    <add key="MonitorPath" value="D:\work\jsmpeg-vnc-v0.2\"/>
  </appSettings>
</configuration>
